.App-map {
    width: 800px
 }

 .Map2{
    margin-top: 50px;
    margin-left: 20px;
 }

 /*alter map image to scale with browser size*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mypadding {
    padding-top: 100px;
}

.dashHead{
    padding: 1rem;
    text-align: left;
    background-color: #222;
    width: 14%;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

.dashContainer{
    margin: 1rem;
    text-align: center;
    margin-top: 50px;
}

.dashnav {
    padding: 0.5rem;
    text-align: center;
    background-color: #222;
    width: 14%;
    position: absolute;
}

.dashnav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: grid;
    align-items: center;
    padding: .25rem;
    text-align: left;
    outline: #555 solid 0.25px;
}

.dashnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

.dashnav li.active {
    background-color: #555;
}

.dashnav li:hover {
    background-color: #777;
}

.queryBox {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.queryBox h2 {
    text-align: center;
}

pre {
    white-space: pre-wrap;
}

.sqlQuery {
    width: 50%;
    text-align: left;
}

.queryEx {
    border-left: 2px;
    border-style: none none none solid;
    width: 50%;
}

.queryEx p {
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}
