.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style for the header which contains navigation */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;  /* Adjust padding as needed */
  background-color: #282c34; /* Example background color */
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Styling for navigation links */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 10px; /* Adjust as needed for space between links */
}

.nav-links li {
  margin-left: 10px; /* Space between links, adjust as needed for buffer */
}

.nav-links a {
  color: white; /* Text color */
  text-decoration: none;
  padding: 10px 15px; /* Padding around the text for better touch target */
  background-color: #007bff; /* Background color */
  border-radius: 5px; /* Rounded corners for links */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.nav-links a:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Responsive styles for mobile devices */
@media (max-width: 600px) {
  .nav-links {
      flex-direction: row; /* Ensure items are in a row on smaller screens */
  }

  .nav-links li {
      margin: 0 5px; /* Small horizontal margin for mobile */
  }
}

.account-prompt {
  margin-top: 15px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

